 .pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(24, 28, 13);
    color: var(--secondary-color);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;

 }
 .active__page{
    background: rgba(114, 69, 228, 0.637);
    color: #fff;
 }